<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-android-resources" version="1.0">
    <name>cordova-plugin-android-resources</name>
    <description>Adds support for android resources, creates additional directories inside plateform android res/.</description>
    <license>Apache 2.0</license>
    <keywords>cordova,android,locales,resources</keywords>
    <platform name="android">
        <source-file src="res/values-ar" target-dir="res" />
        <source-file src="res/values-de" target-dir="res" />
        <source-file src="res/values-es" target-dir="res" />
        <source-file src="res/values-fr" target-dir="res" />
        <source-file src="res/values-it" target-dir="res" />
        <source-file src="res/values-ja" target-dir="res" />
        <source-file src="res/values-nl" target-dir="res" />
        <source-file src="res/values-pt" target-dir="res" />
        <source-file src="res/values-ru" target-dir="res" />
        <source-file src="res/values-tr" target-dir="res" />
        <source-file src="res/values-zh" target-dir="res" />
    </platform>
</plugin>
